#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #Transactions {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #Transactions td, #Transactions th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #Transactions tr:nth-child(even){background-color: #f2f2f2;}
  
  #Transactions tr:hover {background-color: #ddd;}
  
  #Transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(3, 19, 49);
    color: white;
  }
  